---
import Layout from '../layouts/Layout.astro';
import tours from '../data/tour.json';
import '../styles/components.css';
import '../styles/tour.css';
---
<Layout>
    <section class="tour">
        <div class="tour-header">
            <h1>Live</h1>
        </div>
        <div class="tour-list">
            {tours.map((tour: any) => (
                <article class="tour-card">
                    <div class="tour-info">
                        <h2>{tour.title}</h2>
                        <p>日程: {tour.date}</p>
                        <p>会場: {tour.venue}</p>
                        <p>チケット代: {tour.ticketPrice}</p>
                        <p class="tour-reserve">
                            予約はこちらから:
                            <a
                                href={tour.reserve}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                Link
                            </a>
                        </p>
                    </div>
                    <div class="tour-flyer">
                        <img src={tour.flyer} alt={`Flyer for ${tour.title}`} />
                    </div>
                </article>
            ))}
        </div>
    </section>
</Layout>